/ears/
/**/nb-configuration.xml
/**/target/
/**/.settings
/sacer-web/src/main/webapp/WEB-INF/tld/*
/ears
/.directory
/target/
/sacer-ear/src/main/application/META-INF/jboss-app.xml
/sacer-ejb/src/main/resources/META-INF/jboss.xml
/**/xaDiskHome
.project
.vscode/settings.json
sacer-ear/.project
sacer-ejb/.classpath
sacer-ejb/.project
sacer-slg/.classpath
sacer-slg/.project
sacer-web/.classpath
sacer-web/.project
/**/*.iml
.idea/
.vscode/
/**/nbproject/
/**/.factorypath
nbactions.xml
