/ears/
/**/nb-configuration.xml
/**/target/
/**/.settings
/sacer-web/src/main/webapp/WEB-INF/tld/*
/ears
/.directory
/target/
/sacer-ear/src/main/application/META-INF/jboss-app.xml
/sacer-ejb/src/main/resources/META-INF/jboss.xml
/**/xaDiskHome
.project
.vscode
.vscode/settings.json
/**/.project
/**/.classpath
/**/.factorypath
/**/.project
/**/xaDiskHome
/**/.idea
/**/*.iml
/sacer-ejb/nbproject/
/**/*.iml
.idea/
.vscode/
/**/nbproject/
/**/.factorypath
nbactions.xml
