<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- configurazione della sicurezza (Spring Security + SAML ) -->
    <import resource="classpath:security/securityContext.xml"/>
    
    <!-- RESTful JAX-WS services -->
    <bean id="docounter" class="it.eng.parer.restWS.DocCounter"/>
</beans>